/* Body background */
body {
    background-color: rgb(204, 204, 204);
}

/* Center headings */
h1, h2 {
    text-align: center;
}

/* Remove bullets */
ul {
    list-style-type: none;
}

/* Remove link underline */
a {
    text-decoration: none;
}

/* Player boxes */
.player_one, .player_two {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}